
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="#/">iNB</a></h1>
   
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">DashBoard &raquo;</button></li>
          <li><button type="button" class="btn medium inverse" ng-click="">Sign Out &raquo;</button></li>
       
      </ul>
    </div>
  </header>
</div>
<div class='wrapper row2'>
<div class='hoc clear'>
<h1  style='text-align:center; padding-top: 1.8% '>Add New Branch</h1>
</div>
</div>

<div class="wrapper row3">
<div class="hoc clear">
<div class="font-x2 nospace" id="userloginform" style="margin: 5%; padding: 5%;" >

<form name="AddBranchForm" novalidate style="margin-bottom: 20px;">
	<input type="text" class="form-control" ng-model="bifsc"  name="bifsc" placeholder="Enter IFSC code" required>
	<p style="font-size: .5em" id="bifscval" class="text-danger" ng-show="AddBranchForm.bifsc.$touched && AddBranchForm.bifsc.$invalid">IFSC code is required!</p>
	<br>
	<input type="text" class="form-control" ng-model="bname"  name="bname" placeholder="Enter Branch Name" required>
	<p style="font-size: .5em" id="bnameval" class="text-danger" ng-show="AddBranchForm.bname.$touched && AddBranchForm.bname.$invalid">Branch name is required!</p>
	<br>
	
	<input type="text" class="form-control" ng-model="badd"  name="badd" placeholder="Enter Branch Address" required>
	<p  style="font-size: .5em" id="baddval" class="text-danger" ng-show="AddBranchForm.badd.$touched && AddBranchForm.badd.$invalid">Branch address is required!</p>
	<br>
	
	<input type="number" maxlength="10" min="1000000000" max='9999999999'class="form-control" ng-model="bcontact"  name="bcontact" placeholder="Enter Contact No." required>
	<p style="font-size: .5em" id="bcontval" class="text-danger" ng-show="AddBranchForm.bcontact.$touched && AddBranchForm.bcontact.$invalid">Contact number is required!</p>
	<br>
	<br>
	<div class="text-danger">
	{{errormsg}}
	</div>
	<input style="float: right;" type="button"   class="btn medium inverse" value="ADD Branch" ng-click="addNewBranch()">
</form>
</div>