<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1>iNB</h1>
   
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
      
          <li><button type="button" class="btn medium inverse" ng-click="logoutAdmin()">Sign Out &raquo;</button></li>
       
      </ul>
    </div>
  </header>
</div>

<div class="wrapper row3" style="height: 100%">
	<div class="hoc clear">
		<br>
		<div class="fl_left" style="margin-right: 10px;" >
			<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="getAllBranches()">View Branches</button>
			<br>
			<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="gotocreateBranch()">Add a Branch</button>
			<br>
			<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="getBranchManagers()">View Managers</button>
			<br>
			<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="createBranchMgr()">Add Manager</button>
			<br><br>
		</div>
		<div>
		<h1 style="margin-left: 10%">{{adminheading}}</h1>
	
				<div ng-show="adminview" class="table-responsive" style='overflow: auto;  height: 370px ;'>
					  <table class="table" >
					    <thead>
					      <tr>
					        <th>Sr.No.</th>
					        <th>Branch Name</th>
					        <th>Address</th>
					        <th>IFSC Code</th>
					        <th>Contact</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="branch in branchDetails" >
					        <td>{{$index +1}}</td>
					        <td>{{ branch.branchName }}</td>
					        <td>{{ branch.address }}</td>
					        <td>{{ branch.ifscCode }}</td>
					        <td>{{ branch.contact }}</td>
					      </tr>
					    </tbody>
					  </table>
			  	</div>
			  	
			  	<div ng-hide="adminview" class="table-responsive" style='overflow: auto;  height: 370px ;'>
					  <table class="table" >
					    <thead>
					      <tr>
					        <th>Sr.</th>
					        <th>Name</th>
					        <th>UserName</th>
					        <th>Branch</th>
					        <th>Address</th>
					        <th>Email</th>
					        <th>Contact</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="m in branchManagerDetails" >
					        <td>{{$index +1}}</td>
					        <td>{{ m.firstName+" "+m.lastName}}</td>
					         <td>{{m.userName }}</td>
					        <td>{{ m.branch.branchName }}</td>
					        <td>{{m.address }}</td>
					        <td>{{ m.email }}</td>
					        <td>{{m.phone }}</td>
					        
					      </tr>
					    </tbody>
					  </table>
			  	</div>
			</div>
		</div>
	</div>
</div>









	