<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>



<button value="Get unregistered users" ng-click="getUnregisteredUsers();">Get unregistered users
</button>

<table class="table table-reflow">
	<tr>
		<th>Customer ID</th>
		<th>Account Number</th>
		<th>Account Holder Name</th>
		<th>Account Type</th>
		<th>Approval Status</th>			
	</tr>
	<tr>
		<td scope="row">1</td>
		<td>1234567</td>
		<td>Radhika</td>
		<td>Savings</td>
		<td>
				<a role="button" ng-click="">
		          <span class="glyphicon glyphicon-ok"></span>
		        </a>
		   &nbsp&nbsp
		    	 <a role="button" ng-click="">
          			<span class="glyphicon glyphicon-remove"></span>
       		
       </td>
      </tr>
</table>