
<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
     <div id="logo" class="fl_left">
    
      <img  src='images/iconw.png'>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
    <div id="logo" class="one_third">
      
      <h1>Welcome Mr.{{branchmanagername }}</h1>
   
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
          
       
          <li><button type="button" class="btn medium inverse" ng-click="logoutManager()">Sign Out &raquo;</button></li>
       
      </ul>
    </div>
  </header>
</div>

<div class="wrapper row3" style="height: 100%">
	<div class="hoc clear">
		<br>
		<div>
		<h1 >{{ Branchheading }}</h1>
			<div ng-show="unregisterusers" class="table-responsive" style='overflow: auto;  height: 370px ;'>
				<table class="table" >
					<thead>
						<tr>
							<th>Sr. No</th>
							<th>Full Name</th>
							<th>Application Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in UnregisteredUserDetails" >
							<td>{{$index +1}}</td>
							<td>{{ user.firstName+" "+ user.lastName}}</td>
							<td>{{ user.applicationStatus }}</td>
							<td> <button style="width: 100%;" type="button" class="btn medium inverse" ng-click="unregisteruserchange($index)">Verify</button>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>




	