<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
  <div id="logo" class="one_third first">
	    <h1>iNB</h1>
	  </div>
	  <div id="logo" class="one_third">
	  
	  	 <h1>Hello {{changepasswordhead }}</h1>
	  </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
          <li><button type="button" class="btn medium inverse" ng-click="logoutUser()">Sign Out &raquo;</button></li>
       
      </ul>
    </div>
  </header>
</div>

<div class="wrapper row3">
<div class="hoc clear" >
<div class="nospace group services">
<div class='one_third first'><br></div>
<div  id="userpassform" class='one_third' style="
    padding: 10px;
    padding-left:51px;
    padding-right:51px;
    max-width: 400px;
    border: 4px solid #4a9453;
    margin-left: 5%;
     flex: 1; 
    text-align: center;
    margin: 5%;
">
	<h1>Change password</h1>
<form " name="passform" novalidate>
	<input type="password" pattern=".{4,4}"  class="form-control" ng-model="ocpassword"  name="ocpassword" placeholder="Old password" required>
	<p id="opval" ng-model="ocpasswordalert"  name="ocpasswordalert"   class="text-danger" ng-show="passform.ocpassword.$touched && passform.ocpassword.$invalid">Password is required!</p>
	
	<input type="password" class="form-control"   pattern=".{6,15}" ng-model="ncpassword"  name="ncpassword" placeholder="New password" required>
	<p id="npval" class="text-danger" ng-show="passform.ncpassword.$touched && passform.ncpassword.$invalid">Invalid Password!</p>

	<input type="password" class="form-control" pattern=".{6,15}" ng-model="rcpassword"  name="rcpassword" placeholder="Re-Enter New password" required>
	<p id="rpval"   ng-model="rcpasswordalert"  name="rcpasswordalert"   class="text-danger" ng-show="passform.rcpassword.$touched && passform.rcpassword.$invalid">Invalid password!</p>
<br>
	<p class="text-danger">{{ changepswerror }}</p>
	<input style="float: right;" type="button" ng-disabled="passform.$invalid" value="Change" ng-click="changePassword()">
<br><br>
</form>
</div>


</div>
</div>
</div>
