<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
  <div id="logo" class="one_third first">
	    <h1>iNB</h1>
	  </div>
	  <div id="logo" class="one_third">
	  	<h1>Change password</h1>
	  </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
          <li><button type="button" class="btn medium inverse" ng-click="logoutUser()">Sign Out &raquo;</button></li>
       
      </ul>
    </div>
  </header>
</div>

<div class="wrapper row3">
<div class="hoc clear" >
<div class="nospace group services">
<div class='one_third first'><br></div>
<div  id="userpassform" class='one_third' style="
    padding: 10px;
    padding-left:51px;
    padding-right:51px;
    max-width: 400px;
    border: 4px solid #4a9453;
    margin-left: 5%;
     flex: 1; 
    text-align: center;
    margin: 5%;
">
<h1 >Change Password </h1>
<form " name="passform" novalidate>
	<input type="password" pattern=".{4,4}"  class="form-control" ng-model="oldpassword"  name="oldpassword" placeholder="Old password" required>
	<p id="opval" class="text-danger" ng-show="passform.oldpassword.$touched && passform.oldpassword.$invalid">Password is required!</p>
	
	<input type="password" class="form-control"   pattern=".{6,15}" ng-model="newpassword"  name="newpassword" placeholder="New password" required>
	<p id="npval" class="text-danger" ng-show="passform.newpassword.$touched && passform.newpassword.$invalid">Invalid Password!</p>

	<input type="password" class="form-control" pattern=".{6,15}" ng-model="repassword"  name="repassword" placeholder="Re-Enter New password" required>
	<p id="rpval" class="text-danger" ng-show="passform.repassword.$touched && passform.repassword.$invalid">Password do not match!</p>
<br>
	<input style="float: right;" type="button" value="Change" ng-click="changepsw()">
<br><br>
</form>
</div>


</div>
</div>
</div>
