<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
    
      <a href="#/"><img  src='images/iconw.png'></a>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">Home &raquo;</button></li>
        <li><button class="btn medium inverse" ng-click="gotoregisterpage()">Create an Account&raquo;</button></li>
      </ul>
    </div>
  </header>
</div>





<div class="wrapper row3">
  <div class="hoc container clear"> 
    <div class="center btmspace-50">
      <h3 class="font-x2 nospace">Login</h3>
   </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article>
   <h1 style="color: grey;margin-bottom: 30px;">As User  </h1>
<form name="loginform" novalidate>
	<input type="text" class="form-control" ng-model="uname"  name="uname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="loginform.uname.$touched && loginform.uname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="password"  name="password" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="loginform.password.$touched && loginform.password.$invalid">Password is required!</p>
	<br>
		<select name="branch" class="form-control"  ng-model="branch" required>
		<option value="" disabled selected hidden >Select branch</option>
		<option ng-repeat="i in branchDetails">{{i.branchName}}</option>
		</select>
		<p id="pval" class="text-danger" ng-show="loginform.branch.$touched && loginform.branch.$invalid">Branch is required!</p>	
	<br>
	
	<div class="text-danger"  >
	<p ng-model="loginformalert">{{loginformalert}}</p>	
	</div>
	<input style="float: right;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAction(0)">
</form>
   
        </article>
      </li>
      
       <li class="one_third" style="
border-left:5px solid #4b92d7; border-right:5px solid #4b92d7;  padding-right: 40px; margin-right: -40px;">
        <article >
          <h1 style="color: grey;margin-bottom: 30px;   
          ">As Admin  </h1>
<form name="aloginform" class="inputfrom" novalidate>
	<input type="text" class="form-control" ng-model="aname"  name="aname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="aloginform.aname.$touched && aloginform.aname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="apassword"  name="apassword" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="aloginform.apassword.$touched && aloginform.apassword.$invalid">Password is required!</p>
	<br>
	<br>
	<div class="text-danger">
	
		<span ng-model="aloginformalert">{{ aloginformalert }}</span>	
	
	</div>
	<input style="float: right; margin-top: 45px;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAdmin()">
</form>
         
        </article>
      </li >
     
      <li class="one_third" >
        <article>
       <h1 style="color: grey;margin-bottom: 30px;">As Branch Manager  </h1>
<form name="loginform1" novalidate>
	<input type="text" class="form-control" ng-model="buname"  name="buname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="loginform1.buname.$touched && loginform1.buname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="bpassword"  name="bpassword" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="loginform1.bpassword.$touched && loginform1.bpassword.$invalid">Password is required!</p>
	<br>
		<select name="bbranch" class="form-control"  ng-model="bbranch" required>
		<option value="" disabled selected hidden >Select branch</option>
		<option ng-repeat="i in branchDetails">{{i.branchName}}</option>
		</select>
		<p id="pval" class="text-danger" ng-show="loginform1.bbranch.$touched && loginform1.bbranch.$invalid">Branch is required!</p>	
	<br>
	
	<div class="text-danger"  >
	<p ng-model="loginformalert1">{{loginformalert1}}</p>	
	</div>
	<input style="float: right;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAction(1)">
</form>
        </article>
      </li>
     
    </ul>
    <div class="clear"></div>
  </div>
</div>


























