<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="#/">iNB</a></h1>
   
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">Home &raquo;</button></li>
        <li><button class="btn medium inverse" ng-click="gotoregisterpage()">Create an Account&raquo;</button></li>
      </ul>
    </div>
  </header>
</div>

<div class="wrapper row3">
<div class="hoc clear">
<div class="fl_left" id="userloginform"  style="
    padding: 51px;
    border: 4px solid #4a9453;
    margin-left: 5%;
    text-align: center;
    margin: 5%;
">
<h1>Login as User   </h1>
<form name="loginform" novalidate>
	<input type="text" class="form-control" ng-model="uname"  name="uname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="loginform.uname.$touched && loginform.uname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="password"  name="password" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="loginform.password.$touched && loginform.password.$invalid">Password is required!</p>
	<br>
		<select name="branch" class="form-control"  ng-model="branch" required>
		<option value="" disabled selected hidden >Select branch</option>
		<option ng-repeat="i in branchDetails">{{i.branchName}}</option>
		</select>
		<p id="pval" class="text-danger" ng-show="loginform.branch.$touched && loginform.branch.$invalid">Branch is required!</p>	
	<br>
		<select name="role" class="form-control"  ng-model="role" required>
		<option value="" disabled selected hidden >Select role</option>
		<option value="branch_manager">Branch Manager</option>
		<option value="user">User</option>
		</select>
		<p id="pval" class="text-danger" ng-show="loginform.role.$touched && loginform.role.$invalid">Role is required!</p>	
	<br>
	<br>
<br>
	<div class="text-danger"  >
	<p ng-model="loginformalert">{{loginformalert}}</p>	
	</div>
	<input style="float: right;" type="button" value="Login" ng-click="loginAction()">
</form>
</div>











<div class="fl_right" id="adminloginform"  style="
    padding: 51px;
    border: 4px solid #4a9453;
    margin-right: 5%;
    text-align: center;
    margin: 5%;
">
<h1>Login as Admin   </h1>
<form name="aloginform" class="inputfrom" novalidate>
	<input type="text" class="form-control" ng-model="aname"  name="aname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="aloginform.aname.$touched && aloginform.aname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="apassword"  name="apassword" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="aloginform.apassword.$touched && aloginform.apassword.$invalid">Password is required!</p>
	<br>
	<br>
	<div class="text-danger" >
	<p ng-model="aloginformalert">{{aloginformalert}}</p>	
	</div>
	<input style="float: right;" type="button" value="Login" ng-click="loginAdmin()">
</form>
</div>
</div>
</div>
