<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
    
      <img  src='images/iconw.png'>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">Home &raquo;</button></li>
        <li><button class="btn medium inverse" ng-click="gotoregisterpage()">Create an Account&raquo;</button></li>
      </ul>
    </div>
  </header>
</div>



<div class='wrapper row3' ng-show='showUserloginform'>
	
		<div class="container"  >
    <div class="row" >
        <div class="col-xs-6" style="text-align: center; padding-left: 50px;">
            <h1 style="color: grey;margin-bottom: 30px;">Login As User  </h1>
<form name="loginform" novalidate style="margin-left: 20px;">
	<input type="number" class="form-control" ng-model="uname"   name="uname" placeholder="Enter customer id" required>
	<p id="uval" class="text-danger" ng-show="loginform.uname.$touched && loginform.uname.$invalid">Customer id required!</p>
	

	<br>
	<input type="password" class="form-control" ng-model="password"  name="password" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="loginform.password.$touched && loginform.password.$invalid">Password is required!</p>
		<br>
	
	<div class="text-danger"  >
	<p ng-model="loginformalert" >{{loginformalert}}</p>	
	</div>
	<input  style="float: right; margin-bottom: 65px; margin-top: 40px;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAction(0)">
</form>
   
        </div>
        <div class="col-xs-6" style="text-align: center; margin-top: 50px;  ">
            <div style=' '>
              <h3 style="color: grey;margin-bottom: 30px;">Or Login As  </h3>
              <h3 style="text-decoration: none;"><a ng-click='viewBranchManagerloginForm()'>Branch Manager</a></h3>
              <h4 style="margin-top: 25px;">or</h4>
              <h3 ><a ng-click='viewAdminloginForm()'>Admin</a></h3>
              
            </div>
        </div>
   
</div>
	</div>  
</div>





<div class='wrapper row3' ng-show='showAdminloginform'>
	
		<div class="container" >
    <div class="row" >
        <div class="col-xs-6" style="text-align: center; padding-left: 50px;">
            <h1 style="color: grey;margin-bottom: 30px;">Login As Admin  </h1>
<form name="aloginform" novalidate style="margin-left: 20px;">
	<input type="text" class="form-control" ng-model="aname"  name="aname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="aloginform.aname.$touched && aloginform.aname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="apassword"  name="apassword" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="aloginform.apassword.$touched && aloginform.apassword.$invalid">Password is required!</p>
	<br>
	<br>
	<div class="text-danger">
	
		<span ng-model="aloginformalert">{{ aloginformalert }}</span>	
	</div>
	<input style="float: right; margin-bottom: 58px; margin-top: 40px;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAdmin()">
	</form>
   
        </div>
        <div class="col-xs-6" style="text-align: center; margin-top: 50px;  ">
            <div style=' '>
              <h3 style="color: grey;margin-bottom: 30px;">Or Login As  </h3>
              <h3 style="text-decoration: none;"><a ng-click='viewBranchManagerloginForm()'>Branch Manager</a></h3>
              <h4 style="margin-top: 25px;">or</h4>
              <h3 ><a ng-click='viewUserloginForm()'>User</a></h3>
              
            </div>
        </div>
   
</div>
	</div>  
</div>


















<div class='wrapper row3' ng-show='showBranchManagerloginform'>
	
		<div class="container" >
    <div class="row" >
        <div class="col-xs-6" style="text-align: center; padding-left: 50px;">
            <h1 style="color: grey;margin-bottom: 30px;">Login As Branch Manager  </h1>
<form name="loginform1" novalidate style="margin-left: 20px;">
		<input type="text" class="form-control" ng-model="buname"    name="buname" placeholder="Enter username" required>
	<p id="uval" class="text-danger" ng-show="loginform1.buname.$touched && loginform1.buname.$invalid">User name is required!</p>
	<br>
	<input type="password" class="form-control" ng-model="bpassword"   name="bpassword" placeholder="Enter password" required>
	<p id="pval" class="text-danger" ng-show="loginform1.bpassword.$touched && loginform1.bpassword.$invalid">Password is required!</p>
	<br>
		<select name="bbranch" class="form-control"  ng-model="bbranch" required>
		<option value="" disabled selected hidden >Select branch</option>
		<option ng-repeat="i in branchDetails">{{i.branchName}}</option>
		</select>
		<p id="pval" class="text-danger" ng-show="loginform1.bbranch.$touched && loginform1.bbranch.$invalid">Branch is required!</p>	
	<br>
	
	<div class="text-danger"  >
	<p ng-model="loginformalert1" >{{loginformalert1}}</p>	
	</div>
	<input style="float: right;  margin-bottom: 50px;" type="button" class="btn medium inverse" value="Login &raquo;" ng-click="loginAction(1)">
	</form>
   
        </div>
        <div class="col-xs-6" style="text-align: center; margin-top: 50px;  ">
            <div style=' '>
              <h3 style="color: grey;margin-bottom: 30px;">Or Login As  </h3>
              <h3 style="text-decoration: none;"><a ng-click='viewAdminloginForm()'>Admin</a></h3>
              <h4 style="margin-top: 25px;">or</h4>
              <h3 ><a ng-click='viewUserloginForm()'>User</a></h3>
              
            </div>
        </div>
   
</div>
	</div>  
</div>

