<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="#/">iNB</a></h1>
   
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">Home &raquo;</button></li>
          
      </ul>
    </div>
  </header>
</div>
<div class='wrapper row2'>
	<div class='hoc clear'>
		<h1  style='text-align:center; padding-top: 1.8% '>Create a new account</h1>
	</div>
</div>


<div class="wrapper row3">
	<div class="hoc clear">
		<div class="font-x2 nospace" id="userform" style="margin: 20px; padding: 20px;" >
		
			<form name="userform" novalidate style="margin-bottom: 20px;">
				<select class="form-control" ng-model="accounttype" name="accounttype" required>
					<option value="" disabled selected hidden>Select Account Type</option>
					<option value="Saving">Savings</option>
					<option value="Current">Current</option>
				</select>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userbranch.$touched && userform.userbranch.$invalid">Branch is required!</p>
				<br>
				<input type="text" class="form-control" ng-model="userfname"  name="userfname" placeholder="Enter First Name" required>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userfname.$touched && userform.userfname.$invalid">First Name is required!</p>
				<br>
				<input type="text" class="form-control" ng-model="userlname"  name="userlname" placeholder="Enter Last Name" required>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userlname.$touched && userform.userlname.$invalid">Last Name is required!</p>
				<br>
				<input type="email" class="form-control" ng-model="useremail"  name="useremail" placeholder="Enter Email" required>
				<p  style="font-size: .5em"class="text-danger" ng-show="userform.useremail.$touched && userform.useremail.$invalid">Email is required!</p>
				<br>
				<input type="number"   pattern=".{10,10}" class="form-control" ng-model="userphone"  name="userphone" placeholder="Enter Phone number" required>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userphone.$touched && userform.userphone.$invalid">Phone number is required!</p>
				<br>
				<input type="text" class="form-control" ng-model="useraddress"  name="useraddress" placeholder="Enter Address" required>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.useraddress.$touched && userform.useraddress.$invalid">Address is required!</p>
				<br>
				<input type="date" class="form-control" ng-model="userdate"  name="userdate" placeholder="Enter Date of Birth" required>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userdate.$touched && userform.userdate.$invalid">Date of birth is required!</p>
				<br>
				<select class="form-control" ng-model="userbranch" name="userbranch" required>
					<option value="" disabled selected hidden>Select Branch</option>
					<option ng-repeat="i in branchDetails">{{ i.branchName }}</option>
				</select>
				<p style="font-size: .5em" class="text-danger" ng-show="userform.userbranch.$touched && userform.userbranch.$invalid">Branch is required!</p>
				<br>
				<div style="font-size: .5em" class="alert alert-danger">
				
				</div>
				<input style="float: right;" type="button"  ng-disabled="userform.$invalid" class="btn medium inverse" value="Continue" ng-click="createAccount()">
			</form>
		</div>
	</div>
</div>