<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
     <div id="logo" class="fl_left">
    
      <a href="#/"><img  src='images/iconb.png'></a>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><button type="button" class="btn medium inverse" ng-click="gotoHomePage()">Home &raquo;</button></li>
          
      </ul>
    </div>
  </header>
</div>
<div class='wrapper row2'>
	<div class='hoc clear'>
		<h1  style='text-align:center; padding-top: 1.8%;color: white;'>Create a new account</h1>
	</div>
</div>


<div class="wrapper row3">
	<div class="hoc clear">
	<p></p>
		<div class="font-x2 nospace" id="userform" style="margin-right: 20px;margin-left: 20px; padding-left: 20px;padding-right: 20px;" >
		
			<form name="userform" novalidate style="margin-bottom: 20px;">
						<div class='container'><div class='row'>
						<select class="form-control" ng-model="accounttype" name="accounttype" required>
					<option value="" disabled selected hidden>Select Account Type</option>
					<option value="Saving">Savings</option>
					<option value="Current">Current</option>
				</select>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.accounttype.$touched && userform.accounttype.$invalid">Select the Account Type!</p>
				<p></p>
				<input type="text" class="form-control" ng-model="userfname"  name="userfname" placeholder="Enter First Name" required>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.userfname.$touched && userform.userfname.$invalid">First Name is required!</p>
				<p></p>
				<input type="text" class="form-control" ng-model="userlname"  name="userlname" placeholder="Enter Last Name" required>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.userlname.$touched && userform.userlname.$invalid">Last Name is required!</p>
				<p></p>
				<input type="email" class="form-control" ng-model="useremail"  name="useremail" placeholder="Enter Email" required>
				<p  style="font-size: .8em"class="text-danger" ng-show="userform.useremail.$touched && userform.useremail.$invalid">Invalid Email</p>
				<p></p>
				<input type="number"   pattern=".{10,10}" class="form-control" ng-model="userphone"  name="userphone" placeholder="Enter Phone number" required>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.userphone.$touched && userform.userphone.$invalid">Phone number is required!</p>
				<p></p>
				<input type="text" class="form-control" ng-model="useraddress"  name="useraddress" placeholder="Enter Address" required>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.useraddress.$touched && userform.useraddress.$invalid">Address is required!</p>
				<br>
		
						<div class="col-xs-6"><p style="color: gray;">Select Date of Birth</p><input style="    margin-left: -15px;" type="date" class="form-control" ng-model="userdate" max="{{minAge | date:'yyyy-MM-dd'}}"  min="{{minDate | date:'yyyy-MM-dd'}}" name="userdate" placeholder="Enter Date of Birth" required>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.userdate.$touched && userform.userdate.$invalid">Date of birth is required!</p>
				<p></p></div>
				<div class="col-xs-6">
				<p style="color: gray;">Select Branch</p>
				<select style="    margin-left: 15px;" class="form-control" ng-model="userbranch" name="userbranch" required>
					<option value="" disabled selected hidden></option>
					<option ng-repeat="i in branchDetails">{{ i.branchName }}</option>
				</select>
				<p style="font-size: .8em" class="text-danger" ng-show="userform.userbranch.$touched && userform.userbranch.$invalid">Branch is required!</p>
				<p></p>
				</div>
				</div></div>
				<input style="float: right;" type="button"  ng-disabled="userform.$invalid" class="btn medium inverse" value="Continue" ng-click="createAccount()">
			</form>
		</div>
	</div>
</div>