
<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="one_third first">

   
    </div>
    <div id="logo" class="one_third">
      
      <h1>Upload Documents</h1>
   
  </header>
</div>
<div class="wrapper row3"style="padding-top: 25px; padding-bottom: 25px; display: inline;">
<div  style=" border: 4px solid #4a9453;padding: 10px; text-align: center;  margin-top:20px; background: white;" >
        
           <h3 style="text-decoration: underline;">Address proof</h3>  
        <input style="display: inline;" type="file" id="file1" name="file1" ng-model="file1" />
        <br><br>
        <h3 style="text-decoration: underline;">Age proof</h3>
		<input  style="display: inline;" type="file" id="file2" name="file2" ng-model="file2" />
  <br>
  <br>
  <input  class="btn medium inverse" style='display: inline;  ' type="button" ng-click="uploadFiles()" value="Upload" />
</div>
    
</div>


<div ng-hide="loginAlertMessage"  class='hoc clear'><div style="float: right; margin: 5%;margin-right: 5%;background: #00C853;padding: 15px;bottom: 0px;right: 0px;border-color: white;border-width: 2px;position: absolute;z-index: 10;border-radius: 25px;border: 4px solid #969696;color: white;font-size: 1.2em;" >{{mycustomMessage}}</div></div> 	





