
<div class="wrapper row2">
  <header id="header" class="hoc clear"> 
     <div id="logo" class="fl_left">
    
      <img  src='images/iconw.png'>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
	  <div id="logo" class="one_third">
	  	<h1>Upload Documents</h1>
	  </div>
   
      
  </header>
</div>
<div class="wrapper row3"style=" text-align: center;">
<p></p>
			<ol  class="breadcrumb">
			  <li class="breadcrumb-item">Create Account</li>
			  <li class="breadcrumb-item active"><strong>Upload Documents</strong></li>
			</ol>
    <div class=""style="
    text-align: center;
" >     
           <h3 style="text-decoration: underline;">Address proof</h3>  
        <input style="display: inline;" type="file" onchange="readURL(this,false);" id="file1" name="file1" ng-model="file1" />
      
        <img id="addpre"style="max-width: 200px;
    max-height: 200px; width: 200px; height: 200px;" src="http://placehold.it/350x150?text=Address+Proof"/>
   
      
   </div>
   <div class="" style="
    text-align: center;
" >
        <h3 style="text-decoration: underline;">Age proof</h3>
		
		<input  style="display: inline;" onchange="readURL(this,true);"  type="file" id="file2" name="file2" ng-model="file2" />
		 
		<img id="agepre"  style="max-width: 200px;
    max-height: 200px; width: 200px; height: 200px;"src="http://placehold.it/350x150?text=Age+Proof"/>
  </div><p></p>
  <p class="text-danger">{{ uploaderror }}</p>
 <input  class="btn medium inverse"  type="button" ng-click="uploadFiles()" value="Upload" />
</div>


<div ng-hide="loginAlertMessage"  class='hoc clear'><div style="float: right; margin: 5%;margin-right: 5%;background:rgba(75, 146, 215, 0.73);padding: 15px;bottom: 0px;right: 0px;border-color: white;border-width: 2px;position: absolute;z-index: 10;border-radius: 25px;border: 4px solid #969696;color: white;font-size: 1.2em;" >{{mycustomMessage}}</div></div> 	





