<div ng-init="getAccountSummary()" ng-controller="MainController">
	<div class="wrapper row2">
	  <header id="header" class="hoc clear"> 
	     <div id="logo" class="fl_left">
    
      <img  src='images/iconw.png'>
      <p style='      font-size: 1.5em;
    font-style: italic;
    margin-left: 39px;
    margin-top: 1px;
    margin-bottom: -20px;'>Apka <strong>Paisa</strong> Hamare Haath </p>
    </div>
	    <div id="logo" class="one_third">
	      
	      <h1>Welcome {{ username }}</h1>
	   
	    </div>
	    <div id="quickinfo" class="fl_right">
	      <ul class="nospace inline">
	          
	       
	          <li><button type="button" class="btn medium inverse" ng-click="logoutUser()">Sign Out &raquo;</button></li>
	       
	      </ul>
	    </div>
	  </header>
	</div>
	
	<div class="wrapper row3" style="height: 100%">
		<div class="hoc clear">
			<br>
			<div class="fl_left" style="margin-right: 10px;" >
				<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="getAccountSummary()">Account Summary</button>
				<br>
				<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="transferMoney()">Transfer Money</button>
				<br>
				<button style="width: 100%;" type="button" class="btn medium inverse" ng-click="getUserDetails()">View my profile</button>
				<br>
				 
			</div>
			<div>
			<h1 style="margin-left: 10%">{{ Userheading }}</h1>
				<div ng-show="accountdetails" class="table-responsive" style='overflow: auto;  height: 370px ;'>
					<table class="table" >
						<tr>
							<th>Fields</th>
							<th>Details</th>
						</tr>
						<tr>
							<td>Account Type</td>
							<td>{{ accountDetails.accountType }}</td>
						</tr>
						<tr>
							<td>Account Number</td>
							<td>{{ accountDetails.accountNumber }}</td>
						</tr>
						
						<tr>
							<td><h6>Account Balance</h6></td>
							<td><h6>Rs. {{ accountDetails.balance}}</h6></td>
						</tr> 			
					</table>
				</div>
				<div ng-show="userdetails" class="table-responsive" style='overflow: auto;  height: 370px ;'>
					<table class="table" >
						<tr>
							<th>Fields</th>
							<th>Details</th>
						</tr>
						<tr>
							<td>Customer Id</td>
							<td>{{ userDetails.customerId }}</td>
						</tr>
						<tr>
							<td>Password</td>
							<td>{{ userDetails.password }}</td>
						</tr>
						<tr>
							<td>First Name</td>
							<td>{{ userDetails.firstName }}</td>
						</tr>
						<tr>
							<td>Last Name</td>
							<td>{{ userDetails.lastName }}</td>
						</tr>
						<tr>
							<td>Email Id</td>
							<td>{{ userDetails.email }}</td>
						</tr>
						<tr>
							<td>Date of Birth</td>
							<td>{{ userDetails.dateOfBirth | date:"MM/dd/yyyy"}}</td>
						</tr>
						<tr>
							<td>Address</td>
							<td>{{ userDetails.address }}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>{{ userDetails.phone }}</td>
						</tr>
						
					</table>
				</div>
				
			</div>
			<div ng-hide="moneytransfer" class="table-responsive" style='overflow: auto;  height: 370px ;'>		
				<form name="moneytransferform" novalidate style="margin-bottom: 20px;">
					<p>User Account Number</p>
					<input type="number" class="form-control" ng-model="uaccount"  name="uaccount" ng-readonly = "true">
					<p></p>
					<p>Transfer Account Number</p>
					<input type="number" class="form-control" ng-model="raccount"  name="raccount" placeholder="Enter Transfer Account number" required>
					<p class="text-danger" ng-show="moneytransferform.raccount.$touched && moneytransferform.raccount.$invalid">Transfer Account number is required!</p>
					<p></p>
					<p>Amount</p>
					<input type="number" class="form-control" ng-model="mtamount"  name="mtamount" placeholder="Enter Transfer Amount" required>
					<p class="text-danger" ng-show="moneytransferform.mtamount.$touched && moneytransferform.mtamount.$invalid">Transfer Amount is required!</p>
					<p></p>
					<p class="text-danger">{{ transfermoneyerror }}</p>
					<input style="float: right;" type="button"  ng-disabled="moneytransferform.$invalid" class="btn medium inverse" value="Transfer Money" ng-click="moneytransferfun()">
				</form>
			</div>
		</div>
	</div>
</div>


<div ng-hide="loginAlertMessage"  class='hoc clear'><div style="float: right; margin: 5%;margin-right: 5%;background: #00C853;padding: 15px;bottom: 0px;right: 0px;border-color: white;border-width: 2px;position: absolute;z-index: 10;border-radius: 25px;border: 4px solid #969696;color: white;font-size: 1.2em;" >{{mycustomMessage}}</div></div> 	



